.session-row:hover {
    background-color: #f1f1f1;
}

code {
    overflow: scroll;
}

.session {
    padding: 2.5rem 3rem;
    background-color: #f1f1f1;
    margin: 0.2rem;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}

th.row-left {
    padding-left: 1rem;
}

td.row-left {
    padding-left: 1rem;
}

th.row-right {
    padding-right: 1rem;
}

td.row-right {
    padding-right: 1rem;
}

.center {
    text-align: center;
}

/* status */
.green {
    color: #1C5A0F;
}

.red {
    color: #8E2C36;
}

.left {
    padding-left: 2rem;
    float: left;
}

.right {
    padding-right: 2rem;
    float: right;
}

.footer-icon {
    font-size: 3rem;
}

footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 60px;
}

.close-debugger {
    font-size: 2.5rem;
    padding-top: 16px;
}

.debugger-container {
    height: 100%;
    width: 100%;
    background-color: #f1f1f1;
    border-top: 3px solid #e1e1e1;
}

.debugger {
    padding-top: 10px;;
}

body {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.source {
    vertical-align: middle;
    padding-left: 5px;
    float: left;
    list-style-type: none;
}

.source > li {
    padding-bottom: 0;
    margin-bottom: 0;
}

.source > li > input {
    margin-bottom: 0;
}

.scroller {
    margin: 0 auto;
}

.scroller > input {
    width: 400px;
    margin-bottom: 0;
    margin-top: 8px;
}

.source.button {
    padding: 0 10px;
    font-size: 1rem;
    margin-left: 5px;
}

.button.pressed {
    background-color: #e1e1e1;
}