.session-row:hover {
    background-color: #f1f1f1;
}

.session-row {
    cursor: pointer;
}

i {
    cursor: pointer;
}

.state {
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.state > span {
    cursor: pointer;
}

.state:hover {
    color: #530E3B;
}

code {
    font-size: 1rem;
    overflow: scroll;
}

.main-title {
    padding-top: 1rem;
}

.session {
    padding: 2.5rem 3rem;
    background-color: #f1f1f1;
    margin: 0.2rem;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}

.session > p {
    margin-bottom: 1rem;
}

th.row-left {
    padding-left: 1rem;
}

td.row-left {
    padding-left: 1rem;
}

th.row-right {
    padding-right: 1rem;
}

td.row-right {
    padding-right: 1rem;
}

.center {
    text-align: center;
}

/* status */
.green {
    color: #1C5A0F;
}

.red {
    color: #8E2C36;
}

.left {
    padding-left: 2rem;
    float: left;
}

.right {
    padding-right: 2rem;
    float: right;
}

.footer-icon {
    font-size: 3rem;
    padding-top: 1.3rem;
}


footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 60px;
}

.close-debugger {
    font-size: 2.5rem;
    padding-top: 15px;
    padding-right: 16px;
    float: right;
}

.debugger-container {
    height: 100%;
    width: 100%;
    background-color: #f1f1f1;
    border-top: 3px solid #e1e1e1;
}

.debugger {
    padding-top: 10px;;
}

body {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.source {
    vertical-align: middle;
    float: left;
    list-style-type: none;
    margin-left: 3%;
}

.source > li {
    padding-bottom: 0;
    margin-bottom: 0;
}

.source > li > input {
    margin-bottom: 0;
}

.scroller {
    margin: 0 auto;
}

.scroller > input {
    margin-bottom: 0;
    margin-left: 5%;
    margin-top: 8px;
}

.scroller > input {
    width: 100%;
}

/* @media (max-width: 900px) { */
/*     .scroller > input { */
/*         width: 100%; /\* 430px; *\/ */
/*     } */
/* } */

.source.button {
    padding: 0 10px;
    font-size: 0.9rem;
    margin-left: 5px;
}

.source.button:hover {
    border-color: #8C3E71;
    color: #8C3E71;
}

.button.pressed {
    background-color: #e1e1e1;
    border-color: #8C3E71;
    color: #530E3B;
}

.toggle-code {
    padding-left: 0.5rem;
}

.new-session:hover, .close-debugger:hover, .footer-icon:hover, .toggle-code:hover, .close-session:hover {
    color: #530E3B;
}

.new-session {
    font-size: 2.5rem;
    padding-top: 1.7rem;
    padding-left: 16px;
}

input.session-input {
    height: 30px;
    margin-top: 12px;
    width: 100%;

}

/* input.session-input:focus { */
/*     border-color: #1C5A0F; */
/* } */

input.session-input.error:focus {
    border-color: #8E2C36;
}